*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header {
    background:#F6EFE8;
}
nav ul li{ 
    display:inline-block;
list-style-type:none;
margin-right:20px;
vertical-align:middle;
cursor:pointer;
}

.clearfix{
    clear:both;
}

.left ul li:not(:first-child):hover, .right ul li:hover { 
    border-bottom: 1px solid black;
}
.sales{
background: transparent;
color:#4A194B ;
border:1px solid #4A194B;
}
.btn{
border-radius: 5px;
border: 1px solid #4A194B;
padding: 10px;
}

.btnPurple {
    background-color: #4A194B;
    color: #fff;
}
.btnWhite{
    background-color:pale;
    color: #4A194B;
}
.right{
   float:right;
}
.left{
    float:left;

}
.container{
    width:80%;
    margin:0 auto;
    padding: 15px 0;
    
}
.first-part{
    float:left;
    width: 50%;
    
}
.first-part h1{
    font-size:60px;
    width:80%;
}
.transform{
    width:85%;
    font-size:22px;
    padding:20px 0;
}
.campaign-hero{
    float:right;
    width: 50%;
}
.try{
padding:20px 30px;
}
.try:hover{
    cursor:pointer;
}
.google{
    border:none;
    padding:14px;
    border-radius: 5px;
    background:#4285F4;
    margin-left: 5px;

}
.google:hover{
    cursor:pointer;
}
.google p{
    float: right;
    color:white;
    font-weight:bold;
    padding-top: 7px;
    padding-left: 5px;

}

.google img{
    float:left;
    background-color: #fff;
    padding: 5px;

}
.first-part .btnPurple{
    float:left;
}

.images li{
display:inline-block;
padding:25px;
vertical-align: middle;

}
.thumbnail{
float:left;
position:relative;
}

.thumbnail:hover{
    cursor:pointer;

}

.thumbnail:hover>.play{
    background-color: #1964A3;
}
.future{
float:right;
width:50%
}
.main{
    margin-top: 50px;
}
h2{
    font-size: 40px;
}
.future p{
    font-size: 20px;
    width: 85%;
}
 .play, .playtwo {

background:#43AAE1;
color:white;

border-radius: 5px;


 }

 .positionplay{
    width:80px;
height:60px;
    position:absolute;
    top:40%;
    left: 40%;
 }

 .play i{
    display: block;
    text-align: center;
    padding-top: 30%;
    
 }

 .positionplaytwo{
    width:60px;
height:40px;
    position:absolute;
    bottom:20%;
    right:4%;
 }
 .positionplaytwo i{
    display: block;
    position: relative;
    top: 40%;
    left: 40%;
 }
 .watch{
    padding:15px 30px;
    background:#F6EFE8;
    border:1px solid #4A194B;
    color:#4A194B;
    margin-top: 15px;
    border-radius: 5px;
 }
 .watch:hover{
    cursor:pointer;
 }
 .channels{
float:left;
width:50%;
 }
 .firsttext{
position:relative;
 }
 .position{
    right:10px !important;
    bottom: 10px !important;
 }

 
 .video01{
float:right;
width:50%;
 }
 
  .firsttext{
float:left;
margin-right:30px;
 }
 .video02{
float:left;
width:50%
 }
 .files{
    float:right;
    width:50%;
 }
 .external{
float:left;
width:50%;
 }
 .video03{
float:right;
width:50%;
 }
 
 .promo-items{
    float:left;
    width:22%;
    background:#fff;
    padding:15px;
 }

 .promo-items img{
    width:100%;
 }

 .promo-items:not(:last-child)
 {
    margin-left:3%;
 }